/*配色方案:
    背景: rgb(224, 207, 254), rgb(255, 239, 255)
    按钮: rgb(181, 154, 254), rgb(245, 189, 253)
*/
* {
    margin: 0;
    padding: 0;
}

.switch {
    font-size: 1.35rem;
}

.login,.signup {
    cursor: pointer;
    transition: .4s;
}

.active {
    color: rgb(153, 119, 247);
}

.hide {
    height: 0;
    opacity: 0;
}

.input::before {
    content: attr(placeholder);
    position: absolute;
    pointer-events: none;
}

.input input {
    transition: .4s;
}

